@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}

.fixed-img {
    height: 220px;       /* All images same height */
    object-fit: contain;   /* Neat crop */
    width: 100%;
}

.img-fluid {
    height: 250px;
    width: 100%; 
    object-fit: contain;
}

/* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
} */

.old_price {
    font-weight: bold;
    color: red;
}

.new_price {
    font-weight: bold;
    background-color: forestgreen;
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.pic-box{
    position: relative;
}

.hot {
    width: 50px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-weight: bold;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
}

.trending_product_image {
    width: 80%;
}